.inputContainer {
  display: flex;
  width: 40%;
  margin: 0 auto;
  position: relative;
}

.textInput {
  flex: 1;
  height: 50px;
}

.button {
  position: absolute;
  height: 38px;
  right: -120px;
  top: 50%;
  transform: translateY(-50%);
}
