ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  height: 600px;
  width: 400px;
  margin: 0 auto;
}

.showTodoItem {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 40%;
}

.hideTodoItem {
  display: none;
}

.editTextHidden {
  display: none;
}

.editTextDisplay {
  display: inline-block;
  color: red;
  font-size: 16px;
  padding-left: 5px;
  outline: 1px inset black;
  width: 40%;
  height: 35px;
  outline-offset: 0;
  margin-top: 1px;
  border-top: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  border-left: solid 1px #c4c4c4;
  border-right: solid 1px #c4c4c4;
}

li {
  list-style-type: none;
}

li div {
  position: relative;
  height: 35px;
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
  flex: 1;
  border-bottom: solid 1px #c4c4c4;
  border-right: solid 1px #c4c4c4;
  border-left: solid 1px #c4c4c4;
}

label.itemComplete {
  color: green;
  text-decoration: line-through;
}
label.itemIncomplete {
  color: red;
}

button {
  height: 35px;
}

.completeContainer {
  border-left: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.incompleteButton {
  background: #b6b6b6;
  color: white;
  font-size: 25px;
  border-radius: 50%;
  margin: 5px;
}
.completeButton {
  background: green;
  color: white;
  font-size: 25px;
  border-radius: 50%;
  margin: 5px;
}

.deleteButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  opacity: 0;
  transition: 200ms ease-in-out;
}

.showTodoItem:hover .deleteButton {
  opacity: 1;
}
