.todolistContainer {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  flex-direction: column;
}

.filtersContainer {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.incomplete {
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent;
}

.showIncomplete {
  padding: 5px;
  border: solid 1px #aebaff;
  border-radius: 5px;
}
.showIncomplete {
  cursor: pointer;
}

.incomplete:hover {
  border: solid 1px #aebaff;
  border-radius: 5px;
}

.deleteCompleted {
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent;
}

.deleteCompleted:hover {
  border: solid 1px #aebaff;
  border-radius: 5px;
}
